<html>
<head>
<title>
    My Website
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</title>
</head>
<body>
<form method="POST" action="">
    <center><h1><br></h1></center>
<center class="myclass">
    <a href="{{ url_for('signup') }}" target="_blank">click here for sign up</a><br>
    <a href="{{ url_for('logout')}}" target="_blank">click here for logout</a><br>
First name:<br>
<input type="text" name="fname"><br>
Last name:<br>
<input type="text" name="lname">
<input type="submit">
</center>
</form>
</body>
</html>
