<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desgin.css')}}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('signup') }}" target="_blank">sign up</a>
        <a href="{{ url_for('logout')}}" target="_blank">logout</a>
    <nav>

    
        <form method="POST" action="#" class="mainclass">
            <div class="child">
                First name:<br>
            <input type="text" name="fname"><br><br>
            Last name:<br>
            <input type="text" name="lname"><br><br>
            <input type="submit">
            </div>
            
        </form>


</body>
</html>
